  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background: url("https://r4.wallpaperflare.com/wallpaper/927/247/737/pokemon-nature-pikachu-charmander-wallpaper-4664237548c040be06a0d9e164fe6dd4.jpg");
    background-size: 100%;
}

body.modo-escuro{
    max-width: 1280px;
    margin: 0 auto;
    background: url("https://r4.wallpaperflare.com/wallpaper/162/64/1018/1920x1200-px-gengar-ghastly-ghosts-haunter-pokemon-technology-vehicles-hd-art-wallpaper-2291c2d08d56be7b2a18f225e0a83972.jpg");
    background-size: 100%;
}


header {
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 18px;
    border-radius: 15px;
    margin: 10px;

}

header .logo, 
header .imagem-botao{
    width: 30px;
    transition: o.2s ease-in-out;
}

header.modo-escuro{
    background-color: purple;
}

.pokeLogo{
    width: 100px;
    transition: o.2s ease-in-out
}

.pokeLogo:hover{
    transform: scale(1.05);
    cursor: pointer;
}

header #botao-alterar-tema {
    border: none;
    background: none;
    cursor: pointer;
}

header #pokeball {
    border: none;
    background: none;
    cursor: pointer;
}

header .logo:hover,
header #botao-alterar-tema:hover,
.cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 20px;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

main .cartao-pokemon{
    background-color: aliceblue;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
    background-color: rgb(11, 182, 182);
}

.moodo-escuro .cartao-pokemon:hover{
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span{
    padding: 5px;
    font-size: 17px;
}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
    color: #070707;
    
}

main .cartao-pokemon .tipo{
    border: solid 1px #070707;
    border-radius: 15px;
    padding: 8px;
    border-color: #070707; 
}

.grama {
    background-color: rgb(11, 189, 11);
}

.veneno {
    background-color: rgb(207, 13, 207);
}

.fogo {
    background-color: red;
}

.agua {
    background-color: aqua;
}

.voador {
    background-color: aliceblue;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

.search {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    height: 50px;
}

.poke-search {
    border-radius: 15px;
    width: 400px;

}
.botao-search{
    width: 200px;
    border-radius: 15px;
    background-color: rgb(87, 168, 128);
    cursor: pointer;
}

.pokemon{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    padding: 30px;
    background-color: rgba(240, 248, 255, 0.74);
    border-radius: 15px;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 5px;
    
}

.pokemon-picture {
    display: flex;
        
}

.pokemon-picture img {
    width: 25%;
}

.pokemon .name {
    margin-bottom: 10px;
}

.pokemon .number {
    margin-bottom: 10px;
}

.pokemon .type {
    margin-bottom: 10px;
}

.pokemon .weight {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pokemon .whight {

}